.layout.row {
	display: flex;
}
.layout.row.reverse {
	flex-direction: row-reverse;
}
.layout.row.inline {
	display: inline-flex;
}
.layout.col {
	display: flex;
	flex-direction: column;
}
.layout.col.reverse {
	flex-direction: column-reverse;
}
.layout.col.inline {
	display: inline-flex;
}
